<h3>Name: <%= @volunteer.name %></h3><br />
<h4>Availability</h4>
Monday: <%= @volunteer.availability.monday? %><br />
Tuesday: <%= @volunteer.availability.tuesday? %><br />
Wednesday: <%= @volunteer.availability.wednesday? %><br />
Thursday: <%= @volunteer.availability.thursday? %><br />
Friday: <%= @volunteer.availability.friday? %><br />
Saturday: <%= @volunteer.availability.saturday? %><br />
Sunday: <%= @volunteer.availability.sunday? %>
