<h3>Name: <%= @volunteer.name %></h3><br />
<h4>Skills:<%= render 'skills', skills: @volunteer.skills %> </h4><br />
<%= render(@opportunities) || "Not Yet Assigned to Any Opportunities" %>

<h4>Available?</h4>
Monday: <%= yesno(@volunteer.availability.monday) %><br />
Tuesday: <%= yesno(@volunteer.availability.tuesday) %><br />
Wednesday: <%= yesno(@volunteer.availability.wednesday) %><br />
Thursday: <%= yesno(@volunteer.availability.thursday) %><br />
Friday: <%= yesno(@volunteer.availability.friday) %><br />
Saturday: <%= yesno(@volunteer.availability.saturday) %><br />
Sunday: <%= yesno(@volunteer.availability.sunday) %>

<%= button_to "Edit", edit_volunteer_path(@volunteer), :method => 'get' %>
<%= button_to "Delete", volunteer_path(@volunteer), :method => 'delete' %>
