<h3>Name: <%= @volunteer.name %></h3><br />
<% if @opportunities.present? %>
  Opportunities:
  <% @opportunities.each do |opportunity| %>
    <%= opportunity.name %> ||
    <%= opportunity.organization %> ||
    <%= opportunity.status %>
  <% end %>
<% else %>
  Not Yet Assigned to Any Opportunities
<% end %>
<h4>Availability:</h4>
Monday: <%= @volunteer.availability.monday %><br />
Tuesday: <%= @volunteer.availability.tuesday %><br />
Wednesday: <%= @volunteer.availability.wednesday %><br />
Thursday: <%= @volunteer.availability.thursday %><br />
Friday: <%= @volunteer.availability.friday %><br />
Saturday: <%= @volunteer.availability.saturday %><br />
Sunday: <%= @volunteer.availability.sunday %>

<%= button_to "Edit", edit_volunteer_path(@volunteer), :method => 'get' %>
<%= button_to "Delete", volunteer_path(@volunteer), :method => 'delete' %>
