<h2>Opportunities</h2>
<% @opportunities.each do |opportunity| %>
  Name: <%= link_to "#{opportunity.name}", organization_opportunity_path(opportunity.organization, opportunity) %> ||
  Organization: <%= opportunity.organization.name %> ||
  Status: <%= opportunity.status.titleize %> ||
  Volunteer:
  <% if opportunity.volunteer.present? %>
    <%= opportunity.volunteer.name %>
  <% else %>
    Not Assigned
  <% end %>
    <br />
  <br />
<% end %>
<br />
<%= link_to "Create a New Opportunity", new_opportunity_path %>
