<%= @organization.name %><br />
<%= button_to "Edit", edit_organization_path(@organization), :method => 'get' %>
<%= button_to "Delete", organization_path(@organization), :method => 'delete' %>
<br />

<h4>Opportunities</h4>
<%= render(@opportunities) || "There are no opportunities at this organization" %>
<br />
<br />

<%= link_to "Create an Opportunity at #{@organization.name}", new_organization_opportunity_path(@organization) %>
