<!DOCTYPE html>
<html>
<head>
  <title>VolunteerManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
  <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  <h1>Volunteer Management System</h1>
  <% if current_user.present? %>
    <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> ||
      <%= link_to "Sign In", user_session_path %> ||
      <%= link_to "Sign In With Facebook", user_facebook_omniauth_authorize_path %>
    <% end %>
  <br /><br />

<%= yield %>

  <% if current_user.present? %>
  <br /><br />
  <%= link_to "Organizations", organizations_path %> ||
  <%= link_to "Opportunities", opportunities_path %> ||
  <%= link_to "Volunteers", volunteers_path %> ||
  <%= link_to "User Home Page", user_path(current_user) %>
  <% end %>

</body>
</html>
