<!DOCTYPE html>
<html>
<head>
  <title>VolunteerManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  header {
    border-bottom: 1px solid black;
    text-align: center;
  }
  footer {
    border-top: 1px solid black;
    text-align: center;
  }
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  #error_explanation {
    padding: 2px;
    color: red;
    display: table;
  }
  </style>
</head>
<body>

  <%= render 'layouts/header' %>
  <%= render 'layouts/flash' %>
  <br />

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
